@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
button {
  cursor: pointer;
}

div.contactUsSection {
  width: 100%;
  border-top: 1px solid #D0D6F9;
  margin-top: 3.5rem;
  background-color: rgba(200, 200, 200, 0.04);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: -1;
}
div.contactUsSection > .mainFooterSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-inline: auto;
  padding: 2.5rem 0rem;
  border-bottom: 1px solid #D0D6F9;
  margin-bottom: 1.5rem;
}
@media (max-width: 1439px) {
  div.contactUsSection > .mainFooterSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem 2rem;
    row-gap: 2rem;
  }
}
@media (min-width: 1440px) {
  div.contactUsSection > .mainFooterSection {
    padding: 0 1.5rem;
    padding: 2.5rem 2rem !important;
  }
}
@media (min-width: 1440px) and (min-width: 1440px) {
  div.contactUsSection > .mainFooterSection {
    width: 81rem;
    padding: 0rem 0rem;
  }
}
div.contactUsSection > .mainFooterSection > .logoSection {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
div.contactUsSection > .mainFooterSection > .logoSection > p.txt {
  font-size: clamp(0.9375rem, 0.94vw, 0.94rem);
  line-height: 1.5625rem;
  color: #D0D6F9;
  font-family: theme("fonts.fontPoppins");
  letter-spacing: 1px;
}
div.contactUsSection > .mainFooterSection > .logoSection > div.socialIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
div.contactUsSection > .mainFooterSection > .logoSection > div.socialIcons > a.border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  padding: 0.7rem;
}
div.contactUsSection > .mainFooterSection > .logoSection > div.socialIcons > a.border:hover {
  border-color: #16C784;
}
div.contactUsSection > .mainFooterSection > .contactNavSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
@media (max-width: 1439px) {
  div.contactUsSection > .mainFooterSection > .contactNavSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 1.5rem;
  }
}
div.contactUsSection > .mainFooterSection > .contactNavSection > .navSection {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
div.contactUsSection > .mainFooterSection > .contactNavSection > .navSection > p {
  font-size: clamp(0.9375rem, 0.94vw, 0.94rem);
  line-height: 1.5625rem;
  color: #FFFFFF;
  font-family: theme("fonts.fontPoppins");
}
div.contactUsSection > .mainFooterSection > .contactNavSection > .contactSection {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
div.contactUsSection > .mainFooterSection > .contactNavSection > .contactSection > article {
  font-size: clamp(1.125rem, 1.13vw, 1.13rem);
  color: #FFFFFF;
}
div.contactUsSection > .mainFooterSection > .contactNavSection > .contactSection > .infoSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
div.contactUsSection > .mainFooterSection > .contactNavSection > .contactSection > .infoSection > span {
  font-size: clamp(0.9375rem, 0.94vw, 0.94rem);
  line-height: 1.5625rem;
  color: #FFFFFF;
  font-family: theme("fonts.fontPoppins");
}
div.contactUsSection > .mainFooterSection > .emailSubSection {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
div.contactUsSection > .mainFooterSection > .emailSubSection > p.inform {
  color: #FFFFFF;
  font-size: clamp(1.25rem, 1.25vw, 1.26rem);
  opacity: 0.7;
}
div.contactUsSection > .mainFooterSection > .emailSubSection > .formGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
@media (max-width: 1439px) {
  div.contactUsSection > .mainFooterSection > .emailSubSection > .formGroup {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
div.contactUsSection > .mainFooterSection > .emailSubSection > .formGroup > label > input {
  width: 16rem;
  height: 3rem;
  padding: 0rem 0rem 0rem 2rem;
  font-size: clamp(0.9375rem, 0.94vw, 0.94rem);
  line-height: 1.5625rem;
  border-radius: 5rem;
  border: 1px solid #D0D6F9;
  background-color: transparent;
  color: #FFFFFF;
  outline: none;
}
div.contactUsSection > .mainFooterSection > .emailSubSection > .formGroup > button {
  width: 8.5rem;
  height: 3.125rem;
  background: linear-gradient(to right, #1DC5B8 0%, #009B8F 100%);
  border-radius: 5rem;
  color: #FFFFFF;
}
div.contactUsSection > .copyRight > a {
  margin-bottom: 3rem;
  font-size: clamp(1.125rem, 1.13vw, 1.13rem);
  font-family: theme("fonts.fontRale");
}/*# sourceMappingURL=ContactUs.css.map */